.user {
    min-width: 400px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    vertical-align: middle;

    /* style */
    padding: 0.5rem;
    border-radius: 1rem;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg,
            rgba(2, 0, 36, 1) 50%,
            rgba(0, 204, 246, 1) 75%,
            rgba(0, 255, 211, 1) 100%);
    /* x axes, y axes */ 
    background-size: 200% 100%;
    background-position: left;
    animation-name: gradient;
    animation-iteration-count: 1;
    animation-duration:300ms;
}

.user:hover {
    background-position: right;
    animation-name: gradientHover;
    animation-timing-function: ease-in;
}

.user__avatar {
    width: 3.5rem;
    border-radius: 1rem;
}

.user__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6rem;
}

.user:hover .user__name {
    font-weight: bold;
}

@keyframes gradient {
    0% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

@keyframes gradientHover {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}