.user {
    min-width: 400px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    vertical-align: middle;

    /* style */
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: rgb(210, 210, 210);
}

/* Select each even child element up to class .user */
.users :nth-child(even) .user{
    background-color: rgb(220, 220, 220);
}

.user:hover {

}

.user__avatar {
    width: 3.5rem;
    border-radius: .6rem;
}

.user__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.6rem;
}

.user:hover .user__name {
    font-weight: bold;
}